@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Font for all body  */
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* share style  */
.d-flex{
    display: flex;
}

/* color yellow */
.brand-color{
    color: rgb(230, 83, 60);
}
.primary-color{
    color: rgb(255, 255, 255);
}
.secondary-color{
    color: rgba(255, 255, 255, 0.5);
}

.button-color{
    background-color: rgb(230, 83, 60);
}

header{
    max-width: 1440px;
    margin: 57px auto;
}


/* navbar */
.navbar{
    justify-content: space-between;
    text-align: center;
}
.navbar h1{
    font-size: 2.1rem;
    font-weight: 800;
}

.nav-links{
    align-items: center;
    list-style: none;
    gap: 53px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.1rem;
    padding: 12px 24px;
    color: rgb(255, 255, 255);


}
#home{
    padding: 8px 20px;
    border-radius: 46px
}


/* banner  */
.banner-container{
    margin-top: 32px;
    gap: 402px;
    align-items: center;
    
}
.banner-text{
    max-width: 599px;;
}
.banner-text h1{
    font-size: 4.9rem;
}
.header-button{
    display: flex;
    gap: 14px;
}
#button-1{
    border: none;
    border-radius: 42px;
    padding: 16px 40px;
    margin-top: 28px;
    max-width: 244px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

}
#button-2{
    border-radius: 42px;
    padding: 16px 40px;
    max-width: 244px;
    margin-top: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
    background-color: black;
}




.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.background-image {
    width: 100%;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
}

.text-box {
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 30px;
    border-radius: 10px;
}
.text-box-round div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60)  ;
}

.text-box h2 {
    margin-bottom: 5px;
    font-size: 24px;
}

.text-box p {
    font-size: 16px;
    color: rgba(239, 237, 232, 0.65);
}

.top-right {
    position: absolute;
    top: 19%;
    right: 10%;
}

.bottom-left {
    position: absolute;
    bottom: 10%;
}


/* main section */
main{
    max-width: 1440px;
    margin: 57px auto;
}

/* change-habits section  */
.change-habits{
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}
.change-habits-text{
    text-align: center;
    max-width: 671px;
}
.change-habits-text h1{
    font-size: 4rem;
}
.changes-habits-img {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-top: 58px;
}
.changes-habits-img  div img{
    border-radius: 50%;
}
.changes-habits-img div{
    text-align: center;
}
.changes-habits-img div p{
    max-width: 231px;
}

/* run-an-extra section  */

.run-an-extra{
    align-items: center;
    justify-content: center;
    gap: 165px;
    padding: 41px;
    margin-top: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-an-extra-text{
    max-width: 443px;
}
.run-an-extra-text h1{
    font-size: 4rem
}
.run-an-extra-text p{
    font-size: 1.2rem
}
.run-an-extra-img img{
    width: 500px;
    border-radius: 18px;
}














/* media query style */
@media screen and (max-width:576px) {
    .banner-container{
        flex-direction: column;
    }
    .container{
        padding-top: 0px;
    }
    .changes-habits-img{
        grid-template-columns: repeat(2,1fr);
    }
    .run-an-extra{
        flex-direction: column;
    }
    .button-join{
        max-width: 400px;
    }
    .run-an-extra-img img{
        width: 100%;
    }
}