@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Font for all body  */
body{
    font-family: "Inter", sans-serif;
    background-color: black;
}

/* share style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: -54px;
    margin-bottom: -54px;
    padding: 0;
    box-sizing: border-box;
}
.d-flex{
    display: flex;
}

/* color yellow */
.brand-color{
    color: rgb(230, 83, 60);
}
.primary-color{
    color: rgb(255, 255, 255);
}
.secondary-color{
    color: rgba(255, 255, 255, 0.5);
}

.button-color{
    background-color: rgb(230, 83, 60);
}

.background-colo{
    background-color: rgba(255, 255, 255, 0.1);
}

header{
    padding-top: 57px;
    background: linear-gradient(180deg, #111111 0%, rgba(119, 119, 119, 0) 100%);
}


/* navbar */
.navbar{
    justify-content: space-between;
    text-align: center;
}
.navbar h1{
    font-size: 2.1rem;
    font-weight: 800;
}

.nav-links{
    align-items: center;
    list-style: none;
    padding: 4px;
    gap: 53px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-links li a{
    text-decoration: none;
    font-size: 1.1rem;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
}
#home{
    padding: 8px 20px;
    border-radius: 46px
}


/* Hide hamburger menu */
.hamburger-menu {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* banner  */
.banner-container{
    margin-top: 32px;
    gap: 402px;
    align-items: center;
    justify-content: center;
    
}
.banner-text{
    max-width: 599px;;
}
.banner-text h1{
    font-size: 4.9rem;
}
.banner-style-text{
    font-family: "Great Vibes", cursive;
    font-size: 4.9rem;
    font-weight: 900px;
}
.header-button{
    display: flex;
    gap: 14px;
}
#button-1{
    border: none;
    border-radius: 42px;
    padding: 16px 40px;
    margin-top: 28px;
    max-width: 244px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: rgba(230, 83, 60, 1);

}
#button-2{
    border-radius: 42px;
    padding: 16px 40px;
    max-width: 244px;
    margin-top: 28px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    background-color: black;
}




.container {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden;
}

.background-image {
    width: 100%;
    max-height: 780px;
    border-radius: 10px;
}

.overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    align-items: center;
}

.text-box {
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 30px;
    border-radius: 10px;
}
.text-box-round div{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60)  ;
}

.text-box h2 {
    margin-bottom: 5px;
    font-size: 24px;
}

.text-box p {
    font-size: 16px;
    color: rgba(239, 237, 232, 0.65);
}

.top-right {
    position: absolute;
    top: 19%;
    right: 10%;
}

.bottom-left {
    position: absolute;
    bottom: 10%;
}


/* main section */
.huf-width{
    max-width: 1440px;
    margin: 57px auto;
}

/* change-habits section  */
.change-habits{
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
}
.change-habits-text{
    text-align: center;
    max-width: 671px;
}
.change-habits-text h1{
    font-size: 4rem;
}
.changes-habits-img {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-top: 58px;
}
.changes-habits-img  div img{
    border-radius: 50%;
}
.changes-habits-img div{
    text-align: center;
}
.changes-habits-img div p{
    max-width: 231px;
}

/* run-an-extra section  */

.run-an-extra{
    align-items: center;
    justify-content: center;
    gap: 165px;
    padding: 41px;
    margin-top: 100px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 18px;
    background: rgb(34, 34, 34);
}
.run-an-extra-text{
    max-width: 443px;
}
.run-an-extra-text h1{
    font-size: 4rem
}
.run-an-extra-text p{
    font-size: 1.2rem
}
.run-an-extra-img img{
    width: 500px;
    border-radius: 18px;
}

/* BMI  */
.BMI-Calculator-text-section{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0px auto;
    max-width: 671px;
    margin-top: 88px;
    margin-bottom: 100px;
}
.BMI-Calculator-text-section h1{
    font-size: 3rem;
    font-weight: 900;
}
.BMI-Calculator-text-section p{
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0px;
}

.BMI-Calculator-section{
    background-color:rgba(34, 34, 34, 1);
    padding: 0px auto
}
.BMI-table-container {
    gap: 175px; 
    justify-content: space-between;
    align-items: center;
    margin-left: 22%;
}

.table-container {
    text-align: center;
}
.table-container table{
    max-width: 310px;
    margin-top: 52px;
}

.table-container h1 {
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.table-container table {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-collapse: collapse;
}

.table-container th, td {
    border: 1px solid  rgba(255, 255, 255, 0.1);
    padding: 10px;
    text-align: left;
}

/* form part  */
.calculate-bmi h1{
    font-size: 1.5rem;
    margin-bottom: 50px;
}
.calculate-bmi p{
    font-size: 1rem;
    font-weight: 400;
    max-width: 577px;
}
.calculate-bmi-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    max-width: 577px;
    
}

input, select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
    width: 100%;
}

.calculate-bmi-form select:nth-child(5) {
    grid-column: span 2;
}
.Calculate{
    background-color: rgba(230, 83, 60, 1);
    border: none;
    border-radius: 42px;
    padding: 16px 40px;
    margin-top: 34px;
}


/* meet-team */
.meet-team{
    margin-top: 100px;
}
.meet-team-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.meet-team-txt h1{
    font-weight: 900;
    font-size: 4rem;
    margin-bottom: 0px;
}
.meet-team-txt p{
    max-width: 671px;
    text-align: center;
    margin-bottom: 30px;
}

.meet-team-imgs {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.meet-team-img {
    position: relative;
    overflow: hidden;
    border-radius: 18px;
}

.meet-team-img img {
    width: 100%;
    height: 362px;
    border-radius: 18px;
}

.info {
    position: relative;
    margin-top: -100px;
    padding: 10px;
}

.info h3 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
}
.info p {
    margin-top: 0px;
}


/* Gym Feedback Section */
.gym-feedback {
    text-align: center;
    padding: 50px 20px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    background-color:  rgba(255, 255, 255, 0.1);
}

.gym-feedback-text h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.gym-feedback-text p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.gym-feedback-form {
    display: flex;
    justify-content: center;
}

.gym-feedback-form form {
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.feedback-form-input {
    margin-bottom: 20px;
    text-align: left;
}

.feedback-form-input label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.feedback-form-input input,.feedback-form-input select,.feedback-form-input textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
}

.feedback-form-input textarea {
    resize: vertical;
}

button.button-color {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    background-color:  rgb(230, 83, 60);
    color: white;
}

button.button-color:hover {
    background-color: #0056b3;
}

/* footer section  */
footer{
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 88px;
    margin-bottom: 0px;
    margin: 0px;
}
.footer-section{
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
    margin: 57px auto;
    padding-top: 66px;
    padding-bottom: 77px;
}
.footer-brand-name{
    max-width: 443px;

}
.footer-brand-name h1{
    font-size: 4.4rem;
    font-weight: 800;
    margin-top: 0;
    color: rgb(230, 83, 60)
}
.footer-brand-name p{
    font-size: 1.1rem;
    font-weight: 400 ;
}
.footer-get-started-1{
    text-align: center;
}
.footer-get-started-1 h1{
    font-size: 2rem;
    font-weight: 700;
}
.footer-get-started-1 ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-get-started-1 ul li{
    list-style: none;
    font-size: 1.5rem;
    font-weight: 400px;

}

.footer-line{
    max-width: 1440px;
    margin: 57px auto;
}
.footer-line hr{
    background-color: 2px solid rgba(255, 255, 255, 0.1);
}
.footer-line h4{
    text-align: center;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 36px;
}



/* media query style */
@media screen and (max-width:576px) {
    /* for navbar  */
    .navbar{
        align-items: center;
    }
    .nav-links{
        margin-right: 40px;
        gap: 5px;
        max-width: 100px;
        height: 200px;
    }
    .hamburger-menu {
        display: block;
        height: 49px;
        width: 40px;
        border-radius: 2px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: #333;
        width: 200px;
        text-align: center;
    }

    .nav-links.show {
        display: flex;
        justify-content: space-around;
    }
    /* for banner  */
    .banner-container{
        flex-direction: column;
    }
    .container{
        padding-top: 0px;
    }
    .changes-habits-img{
        grid-template-columns: repeat(1,1fr);
    }
    .run-an-extra{
        flex-direction: column;
    }
    .button-join{
        max-width: 400px;
    }
    .run-an-extra-img img{
        width: 100%;
    }
    .BMI-table-container{
        flex-direction: column;
        margin-left: auto;
    }


    .meet-team-txt{
        text-align: center;
    }
    .meet-team-imgs{
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
    }
    .meet-team-img img{
        max-width: 313px;
    }
    .meet-team-imgs {
        display: flex;
        flex-direction: column;
    }
    /* footer  */
    .footer-section{
        flex-direction: column;
        align-items: start;
    }
    .footer-get-started-1 ul{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

}